.App {
  text-align: center;
}
.font-link {
  font-family: 'Montserrat', sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#productType {

  margin-bottom: 5%;
  background-color: #212529;
  color: #f8f9fa;
  border-radius: 0.25rem;
  padding: 3%;
  margin-right: 3%;
}
.nav-link:hover, .bi-trash {
  color: #FFBD18;
}
.form_control {
  cursor: text;
}
.bi-pencil-square {
  color: #FFBD18;
  opacity: 0.5;
  pointer-events: none;
}
.btn-add {
  background-color: #212529;
  color:#fff;
}
.btn-delete {
  background-color: #FFBD18;
}
.btn-delete:hover {
  border-color: #FFBD18;
  color: #212529;
}
.btn-add:hover {
  border-color: #212529;
}
#productType:hover {
  border-color:  #212529;
  background-color: transparent;
  color: #212529;
  transition: all 0.3s ease;
}
#productType option {
  background: #212529; 
  color: #f8f9fa; 
}
option:checked, option:hover {
  background: #272b30; 
  color: #fff; 
}
#form-dvd, #form-furniture, #form-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-wrapper,.product-wrapper {
 
  background-color: rgb(248, 249, 250);
  width:75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}
.title-wrapper {
  margin-bottom:2%;
}
.product-wrapper {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 100vh;
}
input {
  border-radius: 0.25rem;
  background: #fff;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  color: #495057;
  border: 1px solid #ced4da;
  margin: 3%;
  cursor: pointer;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}
#form-dvd, #form-furniture, #form-book {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add-product {
  background: #FFBD18;
  border-top-left-radius: 0% 50%;
  border-bottom-left-radius: 50% 100%;
  border-top-right-radius: 0% -50%;
  border-bottom-right-radius: 50% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}
.form-check-input:checked {
  background-color: #FFBD18;
  border-color: #FFBD18;
}
.navbar{
  width: 100%;
}
.dvd-card, .book-card, .furniture-card {
  padding-right: 3%;
}
